<launch>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <!--remap from="scan" to="base_scan"/-->
        <param name="odom_frame" value="odom"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find CollabNav)/config/rviz_prepared_for_gmapping.vcg"/>
</launch>